
{% extends 'phtos/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-md-8">
           
            <div class="row"> 
                {% for photo in photos %}
                    <div class="col-md-4 py-1">
                        <img
                        src="{{ photo.image.url }}"
                        class="card-img"
                        alt="..."
                        />
                        <div class="d-flex"  style="font-family: 'Merienda', cursive;">
                            <small class="ps-1">Category: {{ photo.category.name }}</small>
                            <i class="fas fa-ellipsis-h" style="margin-left:3rem; padding-top:3px; "></i>
                        </div>
                        <a  href="{% url 'photo' photo.id %}"class="btn btn-outline-dark" style="width:100%; font-family: 'Merienda', cursive;" type="button">view More</a>
                    </div> 
                    {% empty %}
                    <h3 class="text-muted" > No photos found </h3>    
                {% endfor %}
            </div>
           
        </div>
        <div class="col-md-4">
            <div>
                <a href="{% url 'home' %}"class="fas fa-arrow-circle-left my-3" style=" font-size:1.5rem; color:black;"> Go to homepage</a>
            </div>
            <div class="card" style="width: 18rem; font-family: 'Playball', cursive;">
                <div class="card-header">All</div>
                <ul class="list-group list-group-flush">
                    {% for category in categories %}
                        <li class="list-group-item" style="font-family: 'Merienda', cursive;">{{ category.name }}</li>
                    {% endfor %}
                    
                        <div class="dropdown">
                            <button
                            class="btn btn-block-outline dropdown-toggle"
                            style="width:100%;"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                            >
                            <svg class="gUZ pBj U9O kVc" height="20" width="20" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img"><path d="M22 10h-8V2a2 2 0 0 0-4 0v8H2a2 2 0 0 0 0 4h8v8a2 2 0 0 0 4 0v-8h8a2 2 0 0 0 0-4"></path></svg>Add Photo
                            </button>
                            <div class="dropdown-menu my-2" style="width: 360px">
                            <form class="px-4 py-3" method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                                <!-- Description input -->
                                <div class="form-outline mb-2">
                                    <input required name="description" type="text" id="form2Example1" class="form-control" />
                                    <label class="form-label" for="form2Example1">Description</label>
                                </div>

                                <label class="form-label" for="customFile">Upload Image</label>
                                <input type="file" required name="image" class="form-control" id="customFile" />

                                <div class="form-group my-2" style="font-family: 'Merienda', cursive;">
                                    <label>choose category</label>
                                    <select name="category" class="form-control">
                                        <option value="none">choose category..</option>
                                        {% for category in categories %}

                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Description input -->
                                <div class="form-outline mb-2">
                                    <input name="category_new" type="name" id="form2Example1" class="form-control" />
                                    <label class="form-label" for="form2Example1">New category </label>
                                </div>
                        
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </form>
                        </div>
                </ul>
            </div>
            
        </div>
    </div>
</div>





{% endblock %}






